@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(66, 224, 105);
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
    margin-right: 80px;
}

img{
    width: 140px;
}

li{
    display: inline-block;
    margin: 15px;
}

a{
    color: white;
}

a:hover{
    color: rgb(28, 142, 248);
    transition: 0.5s all;
}

#cadastrar-btn{
    border: 3px solid rgb(28, 142, 248) ;
    padding: 10px;
    border-radius: 20px;
}

#cadastrar-btn:hover{
    background-color: rgb(28, 142, 248);
    color: white;
}

main{
    background:url("mariofundo.jpg");
    background-size: cover;
    width: 1024px;
	height: 576px;
    margin: 0 auto;
    
    margin-top: 10px;
    align-items: center;
}

h1{
    margin-left: 60px;
    font-size: 50px;
    color: yellow;
}

p{
    position: relative;
    
}
